-r requirements.txt

django-debug-toolbar==3.2.2
flake8==3.9.2
iniconfig==1.1.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
pluggy==1.0.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
toml==0.10.2
zipp==3.5.0
