-r requirements.txt

flake8==3.8.4
importlib-metadata==2.0.0
iniconfig==1.1.1
isort==5.6.4
lazy-object-proxy==1.5.1
mccabe==0.6.1
pluggy==0.13.1
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
toml==0.10.1
zipp==3.3.1
