{% extends 'spirsa/base.html' %}
{% load cache %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block scripts %}
  {% render_bundle 'contact' 'css' %}
{% endblock scripts %}

{% block main %}
  {% cache 600 about-contact %}
    <div class="about-contact-wrapper">
      <div class="left-column">
        <picture class="about-contact-picture">
          <source
            srcset="{{ webp_small }}"
            type="image/webp"
          >
          <source
            srcset="{{ jpeg_small }}"
          >
          <img
            src="{{ about_contact_information.image }}"
            alt="{{ about_contact_information.title }}"
            height="{{ meta_image_height }}"
            width="{{ meta_image_width }}"
          />
        </picture>
        <div class="contact-wrapper">
          <a
            class="contact-email"
            href="mailto:{{ about_contact_information.contact_email }}"
          >
            {{ about_contact_information.contact_email }}
          </a>

          <div class="contact-social">
            {% include 'spirsa/includes/instagram_link.html' %}
            {% include 'spirsa/includes/deviant_art_link.html' %}
          </div>
        </div>
      </div>
      <div class="right-column">
        <h1>{{ about_contact_information.top_section_title }}</h1>
        <p>
          {{ about_contact_information.top_section_text|linebreaksbr }}
        </p>

        <h1>{{ about_contact_information.bottom_section_title }}</h1>
        <p>
          {{ about_contact_information.bottom_section_text }}
        </p>
      </div>
    </div>
  {% endcache about-content %}
{% endblock main %}
