{% load static %}
{% load spirsa_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}Štefica Pirša | Art{% endblock title %}
      </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--
      <meta name="msapplication-TileColor" content="">
      <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}" />
      <meta name="theme-color" content="">

      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
      -->

      {% block meta_tags %}
        <meta name="title" content="{{ meta_title }}" />
        <meta name="author" content="{{ meta_author }}" />
        <meta name="description" content="{{ meta_description }}" />

        <meta property="og:url" content="{{ meta_url }}/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ meta_title }}" />
        <meta property="og:description" content="{{ meta_description }}" />

        <!--<meta property="og:image" content="{{ meta_url }}{% static 'images/meta.png' %}" />-->
        <meta property="og:image:alt" content="{{ meta_image_alt }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <!--<meta name="twitter:image" content="{{ meta_url }}{% static 'images/meta.png' %}" />-->
        <meta name="twitter:image:alt" content="{{ meta_image_alt }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ meta_description }}" />
      {% endblock meta_tags %}
    {% endblock head %}

    {% render_bundle 'base' 'css' %}
    {% block scripts %}
    {% endblock scripts %}
  </head>

  <body>
    <header>
      <nav class="nav">
        {% block nav %}
          <a href="/" class="nav-link-home">
            ŠP Art
          </a>
          <div class="mobile-menu">
            <label for="mobile-menu-toggle" class="screen-reader">
              Menu toggle
            </label>
            <input id="mobile-menu-toggle" class="mobile-menu-toggle" type="checkbox" autocomplete="off" />
            <span class="mobile-menu-element"></span>

            <ul style="opacity: 0;" class="mobile-menu-list">
              <li>
                {% mobile_menu_link_tag 'digital' request.path 'art' %}
              </li>
              <li>
                {% mobile_menu_link_tag 'traditional' request.path 'art' %}
              </li>
              <li>
                {% mobile_menu_link_tag 'contact' request.path %}
              </li>
              <li class="menu-item-follow">
                <a
                  class="menu-item-link-deviant-art"
                  href="https://www.deviantart.com/spirsa"
                  aria-label="Štefica Pirša deviant art"
                  target="_blank" rel="noopener noreferrer"
                >
                  D
                </a>
                <a
                  class="menu-item-link-instagram"
                  href="https://www.instagram.com/steficapirsa/"
                  aria-label="Štefica Pirša instagram"
                  target="_blank" rel="noopener noreferrer"
                ></a>
              </li>
            </ul>
          </div>
        {% endblock nav %}
      </nav>
    </header>

    <main class="main">
      {% block main %}
      {% endblock main %}
    </main>

    <footer class="footer">
      {% block footer %}
        <a href="/" class="nav-link-home">
          ŠP Art
        </a>
      {% endblock footer %}
    </footer>

    {% block body_scripts %}
      {% render_bundle 'base' 'js' %}
    {% endblock body_scripts %}
  </body>
</html>
