{% load cache %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}{{ meta_title_base }} | {{ meta_title }}{% endblock title %}
      </title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}" />
      <meta name="theme-color" content="#fafafa">

      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#00aba9">

      {% block meta_tags %}
        <meta name="title" content="{{ meta_title_base }} | {{ meta_title }}" />
        <meta name="description" content="{{ meta_description }}" />
        <meta name="keywords" content="{{ meta_keywords }}" />

        <meta property="og:url" content="{{ base_url }}{{ meta_url }}" />
        <meta property="og:type" content="{{ meta_type }}" />
        <meta property="og:title" content="{{ meta_title_base }} | {{ meta_title }}" />
        <meta property="og:description" content="{{ meta_description }}" />

        <meta property="og:image" content="{{ base_url }}{{ meta_image.url }}" />
        <meta property="og:image:alt" content="{{ meta_image_title }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="{{ meta_image_width|default:1200 }}" />
        <meta property="og:image:height" content="{{ meta_image_height|default:630 }}" />

        <meta name="twitter:title" content="{{ meta_title_base }} | {{ meta_title }}" />
        <meta name="twitter:image" content="{{ base_url }}{{ meta_image.url }}" />
        <meta name="twitter:image:alt" content="{{ meta_image_title }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ meta_description }}" />
      {% endblock meta_tags %}
    {% endblock head %}

    <link rel="preload" href="{% static 'fonts/poiret_one.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'fonts/quicksand.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="{% static 'fonts/font.css' %}" rel="stylesheet" type="text/css">
    {% render_bundle 'base' 'css' %}

    {% block scripts %}
    {% endblock scripts %}
  </head>

  <body>
    <header>
      {% block nav %}
        {% include 'spirsa/includes/navigation.html' %}
      {% endblock nav %}
    </header>

    <main>
      {% block main %}
      {% endblock main %}
    </main>

    {% cache 600 footer %}
      <footer>
        <a href="/" class="link link-sp-footer" aria-label="Štefica Pirša">
          {% include 'spirsa/includes/sp_logo.html' with size='25' decoding='async' %}
        </a>
        {% include 'spirsa/includes/instagram_link.html' %}
        {% include 'spirsa/includes/deviant_art_link.html' %}
      </footer>
    {% endcache footer %}

    {% block body_scripts %}
      {% render_bundle 'base' 'js' %}
    {% endblock body_scripts %}
  </body>
</html>
