{% load static %}
{% load spirsa_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}Štefica Pirša | Art{% endblock title %}
      </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}" />
      <meta name="theme-color" content="#fdfdfd">

      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&amp;display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poiret+One&amp;text='ŠPšteficar'&amp;display=swap" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
      <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#00aba9">

      {% block meta_tags %}
        <meta name="title" content="{{ meta_title }}" />
        <meta name="description" content="{{ meta_description }}" />
        <meta name="keywords" content="{{ meta_keywords }}" />

        <meta property="og:url" content="{{ meta_url }}/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ meta_title }}" />
        <meta property="og:description" content="{{ meta_description }}" />

        <meta property="og:image" content="{{ meta_url }}{{ meta_image_url }}" />
        <meta property="og:image:alt" content="{{ meta_image_title }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:image" content="{{ meta_url }}{{ meta_image_url }}" />
        <meta name="twitter:image:alt" content="{{ meta_image_title }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ meta_description }}" />
      {% endblock meta_tags %}
    {% endblock head %}

    {% render_bundle 'base' 'css' %}
    {% block scripts %}
    {% endblock scripts %}
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="sp-link">
          {% include 'spirsa/includes/sp_logo.html' with size='32px' %}
          Štefica Pirša
        </a>
        <div class="desktop-nav">
          {% menu_link_tag 'digital' request.path 'art' %}
          {% menu_link_tag 'traditional' request.path 'art' %}
          {% menu_link_tag 'contact' request.path %}
        </div>
        <div class="mobile-nav">
          <label for="mobile-nav-toggle" class="screen-reader">
            Menu toggle
          </label>
          <input id="mobile-nav-toggle" class="mobile-nav-toggle" type="checkbox" autocomplete="off" />
          <span class="mobile-nav-button"></span>

          <ul style="opacity: 0;" class="mobile-nav-list">
            <li>
              {% menu_link_tag 'digital' request.path 'art' %}
            </li>
            <li>
              {% menu_link_tag 'traditional' request.path 'art' %}
            </li>
            <li>
              {% menu_link_tag 'contact' request.path %}
            </li>
            <li class="menu-item-follow">
              {% include 'spirsa/includes/instagram_link.html' %}
              {% include 'spirsa/includes/deviant_art_link.html' %}
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {% block main %}
      {% endblock main %}
    </main>

    <footer>
      <a href="/" class="link link-sp-footer" aria-label="Štefica Pirša">
        {% include 'spirsa/includes/sp_logo.html' with size='25px' %}
      </a>
      {% include 'spirsa/includes/instagram_link.html' %}
      {% include 'spirsa/includes/deviant_art_link.html' %}
    </footer>

    {% block body_scripts %}
      {% render_bundle 'base' 'js' %}
    {% endblock body_scripts %}
  </body>
</html>
