@import './variables'



@media only screen and (min-width: $media-desktop-breakpoint)


@media only screen and (max-width: $media-mobile-breakpoint)
  .artwork
    display: flex
    flex-direction: column
    margin: 0 0 30px

  .artwork-picture
    margin: 0 0 15px

    img
      height: auto
      width: 100%

  .artwork-title
    margin: 0 15px 15px

  .artwork-short-description
    margin: 0 15px 10px
