@import './variables'


html,
body
  height: 100%

body
  background: $color-white
  display: flex
  flex-direction: column
  font-family: $font-family-base
  font-size: $font-size-base
  margin: 0

  &.scroll-lock
    overflow: hidden

main
  flex: 1 0 auto

nav
  display: flex
  margin: 30px 0 60px

footer
  display: flex
  height: 25px
  justify-content: center

  .link
    margin: 0 10px

h1,
h2,
h3,
p,
a
  color: $color-black
  font-weight: 300
  margin: 0

h1
  font-size: $font-size-title
  line-height: 30px
  margin: 0 0 30px

p
  line-height: 22px

a
  text-decoration: none

ul,
ol
  list-style: none
  margin: 0
  padding: 0

button
  background: none
  border: 0
  font-family: $font-family-base
  font-size: $font-size-base
  padding: 0

.screen-reader
  height: 1px
  left: -100%
  overflow: hidden
  position: absolute
  top: auto
  width: 1px

.desktop-nav
  display: flex
  justify-content: center

.sp-link
  font-family: $font-family-logo
  letter-spacing: 1px

.menu-link
  font-size: $font-size-menu-item
  line-height: 28px
  margin: 0
  padding: 5px 10px
  text-transform: capitalize

.link-instagram
  border: 2px solid $color-black
  border-radius: 25%
  height: 21px
  position: relative
  width: 21px

  &::after
    border: 2px solid $color-black
    border-radius: 50%
    content: ''
    height: 9px
    left: 4px
    position: absolute
    top: 4px
    width: 9px

  &::before
    background-color: $color-black
    border-radius: 50%
    content: ''
    height: 3px
    position: absolute
    right: 2px
    top: 2px
    width: 3px

.share-toggle
  height: 36px
  margin: 0
  opacity: 0
  position: absolute
  right: 0
  top: 7px
  width: 36px

  &:checked ~
    .share-link-wrapper
      opacity: 1
      pointer-events: all

.share-button
  height: 26px
  margin: 0
  pointer-events: none
  position: absolute
  right: 0
  top: 12px
  width: 26px

.share-link-wrapper
  display: flex
  left: 50%
  opacity: 0
  pointer-events: none
  position: absolute
  top: 0
  transform: translate(-50%, -110%)
  transition-duration: $transition-duration-short
  transition-property: opacity

.share-link
  height: 25px
  padding: 15px
  width: 25px

@font-face
  font-display: swap
  font-family: 'Poiret One'
  font-style: normal
  font-weight: 400
  src: url('../fonts/poiret_one.woff2') format('woff2')

@font-face
  font-display: swap
  font-family: 'Quicksand'
  font-style: normal
  font-weight: 300
  src: url('../fonts/quicksand.woff2') format('woff2')


@media only screen and (max-width: $media-breakpoint-medium)
  nav
    justify-content: space-between
    left: 0
    margin: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 1

    &::after
      background: $color-white
      border-bottom: 1px solid $color-black-20
      content: ''
      height: $header-height
      left: 0
      position: absolute
      top: 0
      width: 100%

  main
    padding: 60px 0 100px

  footer
    padding: 0 0 20px

  .sp-link
    align-items: center
    display: flex
    font-size: 28px
    height: calc(#{$header-height} + 2px)
    pointer-events: all
    z-index: 1

    img
      height: 26px
      margin: 0 10px 2px 15px
      width: 26px

  .link-sp-footer
    display: none

  .menu-link
    color: $color-white
    position: relative

  .desktop-nav
    display: none

  .mobile-nav
    display: flex
    margin: 12px 16px 0 0
    pointer-events: all

  .mobile-nav-list
    background-color: $color-black-70
    height: calc(100vh - #{$header-height})
    left: 0
    padding: 50px 0 0
    position: absolute
    text-align: center
    top: $header-height
    transform: translate(-150%, 0)
    transition-duration: $transition-duration-short
    transition-property: opacity, transform
    width: 100%

    li
      margin: 0 0 35px

  .link-current
    &::before
      background-color: $color-white
      border-radius: 50%
      content: ''
      height: 6px
      position: absolute
      right: -5px
      top: 17px
      width: 6px

  .menu-item-follow
    color: $color-white
    display: flex
    height: 25px
    justify-content: center

    .link
      filter: invert(1)
      margin: 0 10px

  .mobile-nav-toggle
    height: 33px
    opacity: 0
    position: absolute
    right: 5px
    top: 5px
    width: 33px
    z-index: 2

    &:checked ~
      .mobile-nav-list
        opacity: 1 !important // sass-lint:disable-line no-important
        transform: translate(0, 0)

      .mobile-nav-button
        border-radius: 50%

        &::after
          border-radius: 50%
          transform: scaleX(.2) scaleY(2)

  .mobile-nav-button
    border: 2px solid $color-black
    border-left: 0
    border-radius: 2px
    border-right: 0
    height: 14px
    margin: 3px 0 0
    position: relative
    transform-origin: 50% 50%
    transition-duration: $transition-duration-short
    transition-property: border-radius
    width: 20px
    z-index: 1

    &::after
      background-color: $color-purple
      border-radius: 10px
      content: ''
      height: 2px
      left: 0
      position: absolute
      top: 6px
      transform-origin: 50% 50%
      transition-duration: $transition-duration-short
      transition-property: transform
      width: 20px

  .about-contact-wrapper
    margin: 0 15px

@media only screen and (min-width: $media-breakpoint-large)
  nav
    flex-direction: column

  main
    margin: 0 auto
    max-width: 1500px
    padding: 0 0 100px

  footer
    padding: 0 0 30px

  .screen-reader
    display: none

  .mobile-nav
    display: none

  .sp-link
    font-size: 34px
    height: 40px
    line-height: 40px
    margin: 0 auto 20px
    white-space: nowrap
    width: 225px

  .link-current
    border-bottom: 2px solid $color-purple
    margin: 3px 9px
    padding: 2px 1px
