@import './variables'


@mixin menu-icon
  background-size: contain
  border: 2px solid $color-white
  border-radius: 25%
  height: 25px
  margin: 3px 15px
  position: relative
  transform: scale(.8)
  width: 25px

@mixin share-icon
  background-size: contain
  height: 34px
  margin: 8px
  width: 34px

@mixin sp-icon($size: 32px)
  background: center no-repeat
  background-image: url('data:image/svg+xml;base64,#{$sp-icon}')
  background-size: contain
  content: ''
  height: $size
  left: 0
  padding: 3px 10px 3px 12px
  position: absolute
  top: 0
  width: $size

@mixin transparent-background
  background: $color-white
  border-bottom: 1px solid $color-black-20
  content: ''
  height: $header-height
  left: 0
  pointer-events: all
  position: absolute
  top: 0
  width: 100%
