@import './variables'


@mixin share-icon($border-color: $color-white, $margin: 3px 15px)
  border: 1px solid $border-color
  border-radius: 25%
  height: 20px
  line-height: 20px
  margin: $margin
  position: relative
  text-align: center
  width: 20px


@mixin transparent-background($height: $header-mobile-height)
  background: $color-black-trans
  box-shadow: 0 1px 2px $color-black-trans
  content: ''
  height: $height
  left: 0
  pointer-events: all
  position: absolute
  top: 0
  width: 100%
