$color-black-10: rgba(21, 21, 21, .1)
$color-black-70: rgba(21, 21, 21, .7)
$color-black: #151515
$color-purple: #660080
$color-white: #fafafa
$font-family-base: 'Quicksand', 'Trebuchet MS', Tahoma, sans-serif
$font-family-logo: 'Poiret One', 'Helvetica Neue', Tahoma, sans-serif
$font-size-base: 16px
$font-size-menu-item: 22px
$font-size-title: 24px
$header-height: 46px
$media-breakpoint-large: 815px
$media-breakpoint-medium: 814px
$media-breakpoint-small: 501px
$media-breakpoint-short: 1239px
$transition-duration-short: .3s
