$color-black-trans: rgb(34, 34, 34, .5)
$color-black-more-trans: rgb(34, 34, 34, .25)
$color-black: #222
$color-white: #fdfdfd
$font-family-base: 'Helvetica Neue', Helvetica, Calibri, Verdana, sans-serif
$font-size-base: 16px
$font-size-menu-item: 20px
$font-size-title: 24px
$header-desktop-height: 45px
$header-mobile-height: 32px
$media-desktop-breakpoint: 900px
$media-mobile-breakpoint: 899px
$transition-duration-short: .3s
