{% extends 'spirsa/base.html' %}
{% load render_bundle from webpack_loader %}

{% block scripts %}
  {% render_bundle 'art' 'css' %}
{% endblock scripts %}

{% block main %}
  <div
    class="artwork-list"
    data-page-count="{{ page_count }}"
  >
    {% include 'art/includes/artworks.html' %}
  </div>

  <noscript>
    {% include 'art/includes/pagination.html' %}
  </noscript>
{% endblock main %}

{% block body_scripts %}
  {{ block.super }}
  {% render_bundle 'art' 'js' attrs='defer' %}
{% endblock body_scripts %}
