{% extends 'art/artwork_list.html' %}
{% load art_tags %}
{% load render_bundle from webpack_loader %}


{% block nav %}
  {% include 'spirsa/includes/navigation.html' with detail_type=detail_type %}
{% endblock nav %}

{% block main %}
  <div class="artwork-detail">
    {% artwork_tag artwork detail=True %}
  </div>

  <div class="artwork-thumbnails">
    {% for artwork_thumbnail in artwork.thumbnails.published.all %}
      {% artwork_picture_tag artwork_thumbnail %}
    {% endfor %}
  </div>
{% endblock main %}

{% block body_scripts %}
  {{ block.super }}
  {% render_bundle 'art' 'js' %}
{% endblock body_scripts %}
