{% load static %}

<label for="share-toggle-{{ id }}" class="screen-reader">
  Share toggle
</label>
<input id="share-toggle-{{ id }}" class="share-toggle" type="checkbox" autocomplete="off" />
<span class="share-button">
  <img width="25px" height="25px" src="{% static 'images/share_icon.svg' %}" alt="Social share icon" />
</span>

<div class="share-link-wrapper">
  {% if facebook_share_url %}
    <a
      class="share-link share-link-facebook"
      href={{ facebook_share_url }}
      aria-label="share on facebook"
      target="_blank" rel="noopener noreferrer"
    >
      <img width="30px" height="30px" src="{% static 'images/facebook_share_icon.svg' %}" alt="Facebook share icon" />
    </a>
  {% endif %}

  {% if pinterest_share_url %}
    <a
      class="share-link share-link-pinterest"
      href={{ pinterest_share_url }}
      aria-label="share on pinterest"
      target="_blank" rel="noopener noreferrer"
    >
      <img width="30px" height="30px" src="{% static 'images/pinterest_share_icon.svg' %}" alt="Pinterest share icon" />
    </a>
  {% endif %}

  {% if twitter_share_url %}
    <a
      class="share-link share-link-twitter"
      href={{ twitter_share_url }}
      aria-label="share on twitter"
      target="_blank" rel="noopener noreferrer"
    >
      <img width="30px" height="30px" src="{% static 'images/twitter_share_icon.svg' %}" alt="Twitter share icon" />
    </a>
  {% endif %}

  {% if linkedin_share_url %}
    <a
      class="share-link share-link-linkedin"
      href={{ linkedin_share_url }}
      aria-label="share on linkedin"
      target="_blank" rel="noopener noreferrer"
    >
      <img width="30px" height="30px" src="{% static 'images/linkedin_share_icon.svg' %}" alt="Linkedin share icon" />
    </a>
  {% endif %}
</div>
