{% load static %}

<div class="artwork">
  {% if detail %}
    <div class="artwork-picture-wrapper">
      {% include 'art/tags/artwork_navigation_tag.html' %}

      {% if full_size_image %}
        <a
          class="artwork-full-size-link"
          href="{{ full_size_image }}"
          aria-label="{{ artwork.title }} full size"
        >
          {% include 'art/tags/artwork_picture_tag.html' %}
        </a>
      {% else %}
        {% include 'art/tags/artwork_picture_tag.html' %}
      {% endif %}
    </div>
  {% else %}
    {% if artwork.is_published %}
      {% url 'art:artwork-detail' artwork.slug as url %}
    {% else %}
      {% url 'art:artwork-detail-preview' artwork.slug as url %}
    {% endif %}
    <a class="artwork-detail-link" href="{{ url }}{{ art_type }}">
      <span id="{{ artwork.slug }}" class="artwork-anchor"></span>
      {% include 'art/tags/artwork_picture_tag.html' %}
    </a>
  {% endif %}

  <div class="artwork-info">
    <h1 class="artwork-title">
      {{ artwork.title }}
    </h1>

    {% if detail %}
      <p class="artwork-short-description">
        {{ artwork.short_description|safe|linebreaksbr }}
      </p>
    {% endif %}
    {% include 'art/tags/artwork_share_tag.html' with id=artwork.pk %}
  </div>
</div>
