{% if artwork.image %}
  <picture class="artwork-picture">
    {% if detail %}
      {% if webp_large %}
        <source
          srcset="{{ webp_large }}"
          type="image/webp"
          media="(min-width: 501px)"
        >
      {% else %}
        <source
          srcset="{{ webp_medium }}"
          type="image/webp"
          media="(min-width: 501px)"
        >
      {% endif %}
      <source
        srcset="{{ webp_small }}"
        type="image/webp"
        media="(max-width: 500px)"
      >

      {% if jpeg_large %}
        <source
          srcset="{{ jpeg_large }}"
          media="(min-width: 501px)"
        >
      {% else %}
        <source
          srcset="{{ jpeg_medium }}"
          media="(min-width: 501px)"
        >
      {% endif %}
      <source
        srcset="{{ jpeg_small }}"
        media="(max-width: 500px)"
      >

      <img
        src="{{ artwork.image.url }}"
        alt="{{ artwork.title }}"
        height="{{ artwork.cls_dimension.detail_height }}"
        width="{{ artwork.cls_dimension.detail_width }}"
        decoding="sync"
      >
    {% else %}
      <source
        srcset="{{ webp_small }}"
        type="image/webp"
      >
      <source
        srcset="{{ jpeg_small }}"
      >
      <img
        src="{{ artwork.image.url }}"
        alt="{{ artwork.title }}"
        height="{{ artwork.cls_dimension.list_height }}"
        width="{{ artwork.cls_dimension.list_width }}"
        decoding="sync"
      >
    {% endif %}
  </picture>
{% endif %}
