{% if artwork.image %}
  <picture class="artwork-picture">
    {% if detail %}
      <source
        srcset="{{ webp_large }}"
        type="image/webp"
        media="(min-width: 900px)"
      >
      <source
        srcset="{{ webp_medium }}"
        type="image/webp"
        media="(max-width: 899px)"
      >
      <source
        srcset="{{ jpeg_large }}"
        media="(min-width: 900px)"
      >
      <source
        srcset="{{ jpeg_medium }}"
        media="(max-width: 899px)"
      >
    {% else %}
      <source
        srcset="{{ webp_medium }}"
        type="image/webp"
        media="(min-width: 900px)"
      >
      <source
        srcset="{{ webp_small }}"
        type="image/webp"
        media="(max-width: 899px)"
      >
      <source
        srcset="{{ jpeg_medium }}"
        media="(min-width: 900px)"
      >
      <source
        srcset="{{ jpeg_small }}"
        media="(max-width: 899px)"
      >
    {% endif %}
    <img
      src="{{ artwork.image.url }}"
      alt="{{ artwork.title }}"
    >
  </picture>
{% endif %}
