{% load static %}
{% load art_tags %}

<div class="artwork">
  {% if link_to_detail %}
    <a href="{% url 'art:artwork-detail' artwork.slug %}">
      {% include 'art/tags/artwork_picture_tag.html' %}
    </a>
  {% else %}
    {% artwork_breadcrumb artwork %}
    {% include 'art/tags/artwork_picture_tag.html' %}
  {% endif %}

  <div class="artwork-info">
    {% include 'art/tags/artwork_share_tag.html' %}
    <h1 class="artwork-title">
      {{ artwork.title }}
    </h1>
    <p class="artwork-short-description">
      {{ artwork.short_description|linebreaksbr }}
    </p>
  </div>
</div>
