{% load static %}

<label for="share-toggle-{{ id }}" class="screen-reader">
  Share toggle
</label>
<input id="share-toggle-{{ id }}" class="share-toggle" type="checkbox" autocomplete="off" />
<span class="share-button">
  <img
    width="25"
    height="25"
    src="{% static 'images/share_icon.svg' %}"
    alt="Social share icon"
  />
</span>
<p class="share-label">Share</p>

<div class="share-link-wrapper">
  {% if facebook_share_url %}
    <a
      class="share-link"
      href={{ facebook_share_url }}
      aria-label="share on facebook"
      target="_blank" rel="noopener noreferrer"
    >
      <img
        width="30"
        height="30"
        src="{% static 'images/facebook_share_icon.svg' %}"
        alt="Facebook share icon"
        decoding="async"
        loading="lazy"
      />
    </a>
  {% endif %}

  {% if twitter_share_url %}
    <a
      class="share-link"
      href={{ twitter_share_url }}
      aria-label="share on twitter"
      target="_blank" rel="noopener noreferrer"
    >
      <img
        width="30"
        height="30"
        src="{% static 'images/twitter_share_icon.svg' %}"
        alt="Twitter share icon"
        decoding="async"
        loading="lazy"
      />
    </a>
  {% endif %}

  {% if reddit_share_url %}
    <a
      class="share-link"
      href={{ reddit_share_url }}
      aria-label="share on reddit"
      target="_blank" rel="noopener noreferrer"
    >
      <img
        width="30"
        height="30"
        src="{% static 'images/reddit_share_icon.svg' %}"
        alt="Reddit share icon"
        decoding="async"
        loading="lazy"
      />
    </a>
  {% endif %}

  {% if pinterest_share_url %}
    <a
      class="share-link"
      href={{ pinterest_share_url }}
      aria-label="share on pinterest"
      target="_blank" rel="noopener noreferrer"
    >
      <img
        width="30"
        height="30"
        src="{% static 'images/pinterest_share_icon.svg' %}"
        alt="Pinterest share icon"
        decoding="async"
        loading="lazy"
      />
    </a>
  {% endif %}

  {% if pinterest_share_url %}
    <a
      class="share-link"
      href={{ pinterest_share_url }}
      aria-label="share on pinterest"
      target="_blank" rel="noopener noreferrer"
    >
      <img
        width="30"
        height="30"
        src="{% static 'images/pinterest_share_icon2.svg' %}"
        alt="Pinterest share icon"
        decoding="async"
        loading="lazy"
      />
    </a>
  {% endif %}

  {% if linkedin_share_url %}
    <a
      class="share-link share-link-linkedin"
      href={{ linkedin_share_url }}
      aria-label="share on linkedin"
      target="_blank" rel="noopener noreferrer"
    >
      <img
        width="30"
        height="30"
        src="{% static 'images/linkedin_share_icon.svg' %}"
        alt="Linkedin share icon"
        decoding="async"
        loading="lazy"
      />
    </a>
  {% endif %}
</div>
